<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cesar</title>
    <link rel='stylesheet' href='../Statics/Actividad8-Cesar.css'>
</head>
<body>
    <div class="grid">
        <div></div>
        <fieldset>
        <div>
        <legend><h1>Cifrando Ando</h1><legend>
        <form method='POST' action='../Dynamics/Actividad8-Cesar.php'>
            <input type='text' name='str' value=''>
            <input type='submit' name='submit' value='Cifrar'>
        </form>
        </div>
        </fieldset>    
        <div></div>
    </div>
</body>
</html>